.wrapper {
  margin: auto;
  width: 90%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 150px;
}
.nav-brand {
  display: flex;
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  color: rgb(0, 0, 0);
  text-decoration: none !important;
  padding: 10px 20px;
  position: relative !important;
}

.nav-links {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 200ms ease-in-out;
  /* gray border */
  margin: auto;
  border-radius: 25px;
  background: #f5f5f5;
  padding: 7px;
  width: auto;
  height: auto;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none !important;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 200ms ease-in-out;
  transition: border-radius 200ms ease-in-out;
}

.nav-links a:hover {
  color: rgb(150, 150, 150);
}

.nav-links a.active {
  color: black;
  margin: auto;
  border-radius: 15px;
  background: #ffffff;
  padding: 6px;
  width: auto;
  height: auto;
}

.nav-contact {
  display: flex;
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  color: rgb(0, 0, 0);
  text-decoration: none !important;
  padding: 10px 20px;
  position: relative !important;
}

/* home start */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.profile-image {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.name-bold {
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
}

.job-role {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: rgb(88, 88, 88);
  padding-bottom: 70px;
}

.description {
  display: flex;
  text-align: center;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 60px;
}

.about-button1 {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

/* button stuff for hover */
button {
  transition: transform 200ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.contact-info {
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
}

.contact-description {
  display: flex;
  text-align: center;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 50px;
}

.about-buttons2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

/* hand wave animation */
#wave-emoji {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  padding-right: 5px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

#meeting-btn:hover {
  background-color: rgb(0, 0, 0) !important;
}

#meeting-btn:hover span {
  color: white !important;
}

/* footer start */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  text-decoration: none !important;
  color: black;
}

.footer-links a:hover {
  color: black;
}

.footer-socials {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: filter 200ms ease-in-out;
}

.footer-socials img {
  margin: 10px;
}

.footer-socials img:hover {
  filter: invert(43%) sepia(0%) saturate(367%) hue-rotate(136deg)
    brightness(94%) contrast(96%);
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* about start */

.abtreal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.abtreal-boldtitle {
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 10px;
}

.abtreal-desc {
  display: flex;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 60px;
  padding-top: 30px;
}

.abtreal-techtitle {
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 10px;
}

.abtreal-techcontainer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.abtreal-techrow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}
